* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  line-height: 100%;

}


body {
  height: 100%;
  margin: 0px;
  font-size: 1em;
}



.container {
  width: 90%;
  height: 90%;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 auto;

  .toolbox {
    width: 50%;
    height: 90%;
    border: 1px solid black;
    flex-grow: 1;
    flex-basis: auto;
  }

  .container__tools {
    padding: 20px 20px 10px 20px;
  }
}
