/* You can add global styles to this file, and also import other style files */
$font-stack : 'Share Tech Mono',
monospace;
$primary-color: #edeeef;
$dark-gray: #20252d;
$mid-gray: #545556;
$dark-green: #1b6d0d;
$black: #000;
$white: #fff;
$lt-blue: #42a1f4;
$dark-red:#9e1009;




html,
body,
app-root {
  height: 100%;
  width: 100%;
  margin: 0;
}

h1 {
  margin-top: 6px;
}

body {
  height: 100%;
  font: 100% $font-stack;
  color: $primary-color;
  margin: 0px;
  font-size: 1em;
  background-color: $dark-gray;
}


.agm-info-window-content{
  color: #000;
}


.backButton{
  background-color: #344feb;
  color: whitesmoke;
  padding: 10px 10px;
  border-radius: 10px;
  border-width: 0px;

}
.backButton:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.backButton:active {
	position:relative;
	top:1px;
}